body{
    color :aquamarine;
    background-color: blue  ;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color:aliceblue;
}
#camera{
    border: 2px  dashed white; 
    height : 300px;
    width : 350px;
}
#result_object_name,#result_object_accuracy{
    color :lightblue;
}